$defaultfontSize: 16px;

$primary-color: #dd9700;
$primary-color-light: #fffc61;
$two-color: #ff1100;

$menu-color: #002323;
$menu-color-light: #00eeee;
$footer-color: #043030;

$font-light: #fff;
$font-grey-light: #e8e8e8;
