.app {
  &-header {
    background-color: #2f2f2f;
    margin-top: 15px !important;
    border-radius: 15px;
    margin-bottom: 10px;
    &__logo {
      text-align: center;
      img {
        height: 60px;
      }
    }
  }
  .right {
    justify-content: flex-end;
  }
  .center {
    justify-content: center;
  }
  &-nav {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .nav-link {
      color: #00ffe7;
    }
    .car {
      position: relative;
      svg {
        vertical-align: unset;
        color: #00ffe7;
        font-size: 50px;
      }
      &__item {
        position: absolute;
        color: #2f2f2f;
        top: 8px;
        left: 15px;
        font-size: 19px;
        border-radius: 16px;
        padding: 0 8px;
        font-weight: bold;
      }
    }
  }
  .itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #edeee9;
      border: 1px solid #d0c126;
      border-radius: 5px;
      margin: 15px;
      max-height: 318px;
      max-width: 300px;
    }
    &__cod {
      font-weight: 700;
      color: #707070;
    }
    &__titulo {
      text-align: center;
      font-size: 26px;
      color: black;
      font-weight: bold;
    }
    &__img {
      flex: 1;
      overflow: hidden;
      width: 100%;
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }

      @supports (object-fit: cover) {
        img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}
