@import "../../../scss/index.scss";

.item {
  display: flex;
  flex-direction: column !important;
  align-content: space-between;
  flex-wrap: wrap !important;
  align-items: center;
  max-width: 250px;
  border: 2px dashed $primary-color;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  &--imagen {
    width: 100%;
    flex: 1;
    img {
      width: 100%;
      height: auto;
    }

    @supports (object-fit: cover) {
      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  &--price {
    font-size: 18px;
    font-weight: bold;
  }
  &--title {
    font-size: 18px;
    font-weight: bold;
  }
  &--btn {
    width: 100%;
    button {
      flex: 1;
      margin: 10px;
      background-color: $menu-color;
      color: $primary-color-light;
      border-color: $primary-color-light;
    }
  }
}
