.itemCount {
  margin: 0px !important;
  width: 100%;
  padding: 0px 10px;
  flex-direction: column !important;
  &__titulo {
    text-align: center;
    font-size: 24px;
  }
  &__btn {
    flex: 1;
    margin: 10px 0px;
    background: aquamarine;
    border: 0px;
    font-size: 22px;
    &:hover {
      background: rgb(219, 106, 0);
      cursor: pointer;
    }
  }
}
.countIncrement {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #393939;
  border: 1px solid #00ffe7;
  border-radius: 5px;
  padding: 0px !important;
  margin: 0px !important;
  &--count {
    margin: 0 10px;
    border: 0;
    background-color: transparent;
    color: #00ffe7;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      color: rgb(219, 106, 0);
      cursor: pointer;
    }
  }
  &__label {
    flex: 1;
    color: #ffe000;
    font-weight: bold;
    text-align: center;
  }
}
